<h4> Create New Lot </h4>
<form>
  <p> Title </p>
  {{input type='text' value=newLotTitle}}
  <p> Owner </p>
  {{input type='text' value=newLotOwner}}
  <button type='submit' {{action 'addLot'}}>Add new lot.</button>
</form>

<h4> Click lot to assign new items to it. </h4>
{{#each controller}}
  <ul>
    <li {{action 'toggleLotItems'}}>
      {{title}}{{owner}}
      {{#if showLotItems}}
        {{render 'lot' items}}
      {{/if}}
    </li>
  </ul>
{{/each}}

<!-- {{#if showLotItems}}

{{/if}} -->
